@page
@model semWork.Pages.AboutModel
@{ ViewData["Title"] = "About"; }

<div class="first_container">
    <h1>О нас</h1>
    <div class="course_container">
        <h2>Это о нас</h2>

        <div style="margin-top: 15px;">
            <p>
                С другой стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития.
                Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений.
                Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
            </p>
        </div>

        <div style="margin-top: 15px; display: flex; flex-direction: column;">
            <h2 style="text-align: right;">И это тоже о нас</h2>
            <p style="margin-top: 15px;">
                С другой стороны укрепление и развитие структуры обеспечивает участие в формировании систем массового участия. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития.
                Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Значимость этих проблем настолько очевидна, что консультация с широким активом играет важную роль в формировании новых предложений.
                Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
            </p>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="../../css/mainPage.css" />
    <link rel="stylesheet" href="../../css/course.css" />
}
