@page
@model semWork.Pages.ContactsModel
@{ ViewData["Title"] = "Contacts"; }

<div class="first_container">
    <h1>Контакты</h1>
    <div class="course_container">
        <h2>Как можно связаться с нами?</h2>
        <p>Телефон: <b>+79238423423</b></p>
        <p>Telegram: <b>FuLearn</b></p>
        <p>VK: <b>vk.com/fuLearn</b></p>
        <p>Почта: <b>fuLearn@gmail.com</b></p>

    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="../../css/mainPage.css" />
    <link rel="stylesheet" href="../../css/course.css" />
}