@page "{id:int}"
@model semWork.Pages.CourseModel
<div class="first_container">
    <h1>Страница курса</h1>
    <div class="course_container">
        <div class="course_info">
            <div class="course_cover">
            </div>
            <div class="course_text_info">
                <h2>@Model.courseName</h2>
                <p class="p_info">Оценка:</p>

                <h3 class="subtitle_course">@Model.description</h3>

                <p class="p_info">
                    sdfjasdfas
                </p>

                <button class="button_submit">
                    Просмотреть
                </button>
            </div>
        </div>

        <ul class="comments_container">
            @if (Model.comments != null)
            {
                    @foreach (var comment in Model.comments)
                    {
                    <li class="comment">
                        <img src="/books-g1ecf9eb61_1920.jpg" height="45" width="45" alt="userAvatar" />
                        <div class="comment_info_container">
                            <p class="user_title">UserName</p>
                            <p class="comment_info">
                        
                            </p>
                        </div>
                    </li>
                    }
            }

            <li class="add_comment">
                <form>
                    <input type="text" class="add_comment_area" placeholder="Ваш комментарий" />
                    <input type="submit" class="button_comment" />
                </form>
            </li>
        </ul>

    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/mainPage.css"/>
}
