@page
@model semWork.Pages.LoginPageModel
@section Styles {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="./css/regPage.css">
}
@{ ViewData["Title"] = "LoginPage"; }


<main class="main">
    <div class="main_wrapper">
        <div class="first_container">
            <h1>Вход</h1>

            <div class="form_container">
                <form class="forms" asp-page-handler="LoginUser">
                    <input class="input_form" asp-for="Login" type="text" placeholder="Login">

                    <input class="input_form" asp-for="Password" type="password" placeholder="Password">

                    <input type="submit" class="button_submit" placeholder="Подтвердить">
                </form>
            </div>

        </div>
    </div>
</main>



