@page
@model semWork.Pages.RegPageModel
@section Styles {
    <link rel="stylesheet" href="./css/regPage.css">
}
@{ ViewData["Title"] = "RegPage"; }


<main class="main">
    <div class="main_wrapper">
        <div class="first_container">
            <h1>Регистрация</h1>

            <div class="form_container">
                <form  method="post" asp-page-handler="CreateUser" class="forms">
                    
                        <input class="input_form" type="text" placeholder="Login" asp-for="Login" required>

                        <input class="input_form" type="password" placeholder="Password" asp-for="Password" required>

                        <input class="input_form" type="password" placeholder="Repeat password" asp-for="ConfPassword" required>


                        <input class="input_form" type="text" placeholder="Кол-во полных лет" asp-for="date" required>
                    

                    <input type="submit" class="button_submit" placeholder="Подтвердить">
                </form>
            </div>

        </div>
    </div>
</main>

