@page
@model semWork.Pages.Users.UserModel

@section Styles {
    <link rel="stylesheet" href="./css/profilePage.css" />
}

@{ ViewData["Title"] = "Profile"; }



<div class="first_container">

    <h1>
        Профиль
    </h1>

    <div class="profile_container">
        <div class="row_of_profile">
            <img src="books-g1ecf9eb61_1920.jpg" width="300px" height="300px" alt="prf">

            <div>
                <h2 class="username_title">
                    @Model.name;
                </h2>

                <div class="user_info">
                    <p>
                        <b> Дата рождения: </b> %Y-%m-%d
                    </p>
                </div>

                <div class="courses_container">
                    <h2>
                        Любимые курсы
                    </h2>

                    <ul class="li_courses">
                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>

                        <li class="item_courses">
                            <img src="books-g1ecf9eb61_1920.jpg" width="50px" height="50px" />
                            <div class="column_item">
                                <a href="#" class="label_of_item_course">
                                    Course Label
                                </a>
                                <p class="item_course_desc">
                                    ОписаниеОписаниеОписаниеОписаниеfffffffffffffffffffffffffffffffffffff
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>