* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-size: 24px;
    font-family: "Roboto", serif;
    background-color: 	rgb(240,240,240);
}

.header {
    background-color: lightskyblue;
}

.header_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: start;
    font-family: 'Roboto', serif;
    font-size: 50px;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ul_list {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    padding-right: 25px;
}

li:last-child {
    padding-right: 0;
}

a:hover {
    color: gray;
}

.main {
    background-color: 	rgb(240,240,240);
}

.main_wrapper {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.aboutMe_block {
    display: flex;
    flex-direction: row;
}

.image_settings {
    height: 350px;
    width: 300px;
}

.information {
    margin-left: 50px;
}

.description_of_me {
    font-size: 19px;
}

.footer {
    background-color: 	rgb(240,240,240);
}

.footer_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    border: solid #000;
    border-width: 1px 0 0 0;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 30px;
}