.course_main_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.course_container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inherit;
    flex-direction: column;
    background-color: #dee8ec;
    padding: 20px;
}

.course_cover {
    background-color: red;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.course_info {
    display: flex;
    flex-direction: row;
}

.course_text_info {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p_info {
    margin-top: 5px;
}

.subtitle_course {
    margin-top: 15px;
}

.button_submit {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 15px;
    padding: 5px;
    background-color: #93b0d0;
    color: #fff;
    border-radius: 10px;
    max-width: 170px;
}

.comments_container {
    margin-top: 35px;
    text-decoration: none;
}

.comment {
    background-color: #fff;
    width: 80%;
    min-height: 80px;
    max-height: 170px;
    padding: 3px 5px 3px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3Px solid #DEE8EC;
}

.comment_info_container {
    margin-left: 25px;
}

.user_title {
    font-weight: bold;
}

.comment_info {
    margin-top: 7px;
}

.add_comment {
    display: flex;
    margin-top: 15px;
    min-height: 50px;
    max-height: 150px;
    list-style-type: none;
    margin-bottom: 10px;
}

.add_comment_area {
    padding-left: 5px;
    min-height: 40px;
    max-height: 150px;
    width: 70%;
}

.button_comment {
    display: flex;
    min-height: 40px;
    width: 80px;
    color: white;
    background-color: #93b0d0;
}

.heart-like-button {
    position: relative;
    width: 160px;
    height: 130px;
}

    .heart-like-button:before {
        position: absolute;
        top: 0;
        left: 80px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        width: 80px;
        height: 125px;
        border-radius: 40px 40px 0 0;
        background-color: #574136;
        content: "";
        cursor: pointer;
        transition: background .4s;
    }

    .heart-like-button:after {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
        width: 80px;
        height: 125px;
        border-radius: 40px 40px 0 0;
        background-color: #574136;
        content: "";
        cursor: pointer;
        transition: background .4s;
    }
    .heart-like-button.liked::before,
    .heart-like-button.liked::after {
        background-color: #d65076;
    }

    .heart-like-button.liked {
        animation: liked .4s ease;
    }

@keyframes liked {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
.course_first_row {
    display: flex;
    justify-content: space-between;
}