.course_main_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.course_container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inherit;
    flex-direction: column;
    background-color: #dee8ec;
    padding: 20px;
}

.course_cover {
    background-color: red;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.course_info {
    display: flex;
    flex-direction: row;
}

.course_text_info {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p_info {
    margin-top: 5px;
}

.subtitle_course {
    margin-top: 15px;
}

.button_submit {
    margin-top: 50px;
    font-size: 15px;
    padding: 5px;
    background-color: #93b0d0;
    color: #fff;
    border-radius: 10px;
    max-width: 170px;
}

.comments_container {
    margin-top: 35px;
    text-decoration: none;
}

.comment {
    background-color: #fff;
    width: 80%;
    min-height: 80px;
    max-height: 170px;
    padding: 3px 5px 3px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3Px solid #DEE8EC;
}

.comment_info_container {
    margin-left: 25px;
}

.user_title {
    font-weight: bold;
}

.comment_info {
    margin-top: 7px;
}

.add_comment {
    margin-top: 15px;
    min-height: 80px;
    max-height: 150px;
    list-style-type: none;
}

.add_comment_area {
    padding-left: 5px;
    min-height: 40px;
    max-height: 150px;
    width: 70%;
}

.button_comment {
    min-height: 40px;
    width: 80px;
    color: white;
    background-color: #93b0d0;
}

.button_like {
    background-color: inherit;
}

svg {
    display: block;
    width: 30px;
    height: auto;
}

#svg_2 {
    fill: transparent;
    stroke: #f00;
    stroke-width: 6px;
    cursor: pointer;
    transition: fill .3s;
}

    #svg_2.filled {
        fill: #f00;
    }

.course_first_row {
    display: flex;
    justify-content: space-between;
}