.lesson_main_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.lesson_container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inherit;
    flex-direction: column;
    background-color: #dee8ec;
    padding: 20px;
}

.container_of_lesson {
    margin: 0 auto;
    margin-top: 25px;
    display: inherit;
    background-color: #dee8ec;
    padding: 25px 20px;
    min-height: 600px;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
}

.video_settings {
    display: flex;
    justify-content: center;
    max-height: 60%;
    min-width: 100%;
    min-height: 560px;
}

.back-front {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: black;
}

.arrows {
    color: black;
}

a.disabled {
    pointer-events: none;
}
