<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainPage.css">
    <link href="//db.onlinewebfonts.com/c/f12193313d480890e2f1895b2b0ac89c?family=Choplin" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <header class="header_wrapper">
        <div class="header">
            <a class="logo">
                FuLearn
            </a>

            <nav class="navbar">

                <ul class="navbar_ul">
                    <li class="nav_item">
                        <a>
                            Помощь
                        </a>
                    </li>

                    <li class="nav_item">
                        <a>
                            О нас
                        </a>
                    </li>

                    <li class="nav_item">
                        <a>
                            Вход
                        </a>
                    </li>

                    <li class="nav_item">
                        <a>
                            Регистрация
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="main_wrapper">
            @RenderBody();
        </div>
    </main>

    <footer class="footer_wrapper">
        <div class="footer">

        </div>
    </footer>
</body>
</html>
